@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

.item {
  display: flex;
  gap: 0.2em;
}

.item__done--tick::after {
  content: "\2713";
  color: green;
  font-weight: bold;
}